<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
           http://www.springframework.org/schema/context 
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- definicja kontekstu dla aplikacji dentalsurgery -->

	<context:component-scan
		base-package="pl.poznan.put.dentalsurgery.repository pl.poznan.put.dentalsurgery.service" />

	<tx:annotation-driven />

	<!-- Ustawienia bazy danych -->
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>classpath:jdbc.properties</value>
		</property>
	</bean>

	<!-- Źródło danych - u nas baza danych MySQL -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>

	<!-- Fabryka sesji hibernate'a -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hbm2ddl.auto">create</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>Attachment.hbm.xml</value>

				<value>Patient.hbm.xml</value>
				<value>PhoneNumber.hbm.xml</value>
				<value>Illness.hbm.xml</value>
				<value>Medication.hbm.xml</value>
				<value>VisitActivity.hbm.xml</value>
				<value>Visit.hbm.xml</value>
				<value>ToothState.hbm.xml</value>
				<value>Tooth.hbm.xml</value>
				<value>ToothActivity.hbm.xml</value>
			</list>
		</property>
	</bean>

	<!-- Manager transakcji w warstwie biznesowej -->

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>


</beans>
