<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

	<!-- definicja kontekstu aplikacji dla aplikacji dentalsurgery -->

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>classpath:jdbc.properties</value>
		</property>
	</bean>

	<!-- Źródło danych - u nas baza danych MySQL -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>

	<!-- Fabryka sesji hibernate'a -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hbm2ddl.auto">create</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>SimpleEntity.hbm.xml</value>
			</list>
		</property>
	</bean>

	<!-- Obsługa transakcji w warstwie biznesowej -->

	<bean id="txManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<aop:config>
		<aop:pointcut id="serviceLayerMethods"
			expression="execution(* pl.poznan.put.dentalsurgery.service..*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="serviceLayerMethods" />
	</aop:config>

	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="load*" propagation="SUPPORTS" read-only="true" />
		</tx:attributes>
	</tx:advice>

	<!-- Obiekty warstwy DAO -->
	<bean id="simpleEntityDao"
		class="pl.poznan.put.dentalsurgery.repository.SimpleEntityDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- Obiekty warstwy biznesowej -->
	<bean id="simpleEntityService"
		class="pl.poznan.put.dentalsurgery.service.SimpleEntityServiceImpl">
		<property name="simpleEntityDao" ref="simpleEntityDao" />
	</bean>


</beans>
