@CHARSET "UTF-8";

#body-content {
	/*border: solid;*/
	border-width: 1px;
	border-color: #80C2FF;
}

#ui-teeth-map {
	float: left;
	
	width: 350px;
	height: 310px;
	/*border: solid;*/
	border-width: 1px;
	border-color: #80C2FF;
}

#ui-teeth-map-permanent {
	width: 355px;
	height: 105px;
}

#ui-teeth-map-deciduous {
	margin-left: 63px;
	width: 225px;
	height: 105px;
}

#selected-tooth-div {
	float: left;
	margin-left: 30px;
	width: 350px;
	height: 310px;
	/*border: solid;*/
	border-width: 1px;
	border-color: #80C2FF;
	clear: right;
}

#selected-part-list {
	width: 320px;
	height: 160px;
	/*border: solid;*/
	border-width: 1px;
	border-color: #80C2FF;
	margin-left: 0px;
	padding-left: 0px;
	list-style-type: none;
}

#selected-part-list li {
	padding-left: 90px;
}

#modify-form-div {
	float: left;
	
	/*border: solid;*/
	border-width: 1px;
	border-color: #80C2FF;
	width: 350px;
}

#add-activities-form {
	float: left;
	margin-left: 30px;
	/*border: solid;*/
	border-width: 1px;
	border-color: #80C2FF;
	width: 350px;
	clear: right;
}

#list-activities {
	float: left;
	
	/*border: solid;*/	
	border-width: 1px;
	border-color: #80C2FF;
	width: 732px;
}

#send-visit-form {
	float: left;
	
	/*border: solid;*/
	border-width: 1px;
	border-color: #80C2FF;
	width: 732px;
	height: 110px;
}

#send-visit-form h3, #visit-date-input {
	 
	margin-left: 200px;
} 

#visit-comments-textarea {
	width: 340px;
	height: 106px;
}


/* ************************** mapa zębów ********************************************* */

/* obrazki zębów górnych */
.top .ui-tooth.white {
	background-image:
		url('/dentalsurgery/resources/img/teeth/tooth-top-white.png');
}

.top .ui-tooth.white.selected,.top .ui-tooth.white:hover {
	background-image:
		url('/dentalsurgery/resources/img/teeth/tooth-top-light.png');
}

.top .ui-tooth.red {
	background-image:
		url('/dentalsurgery/resources/img/teeth/tooth-top-lightred.png');
}

.top .ui-tooth.red.selected,.top .ui-tooth.red:hover {
	background-image:
		url('/dentalsurgery/resources/img/teeth/tooth-top-darkred.png');
}

.top .ui-tooth.green {
	background-image:
		url('/dentalsurgery/resources/img/teeth/tooth-top-lightgreen.png');
}

.top .ui-tooth.green.selected,.top .ui-tooth.green:hover {
	background-image:
		url('/dentalsurgery/resources/img/teeth/tooth-top-darkgreen.png');
}

.top .ui-tooth.blue {
	background-image:
		url('/dentalsurgery/resources/img/teeth/tooth-top-lightblue.png');
}

.top .ui-tooth.blue.selected,.top .ui-tooth.blue:hover {
	background-image:
		url('/dentalsurgery/resources/img/teeth/tooth-top-darkblue.png');
}

/* obrazki zębów dolnych (odwrócone) */
.bottom .ui-tooth.white {
	background-image:
		url('/dentalsurgery/resources/img/teeth/tooth-bottom-white.png');
}

.bottom .ui-tooth.white.selected,.bottom .ui-tooth.white:hover {
	background-image:
		url('/dentalsurgery/resources/img/teeth/tooth-bottom-light.png');
}

.bottom .ui-tooth.red {
	background-image:
		url('/dentalsurgery/resources/img/teeth/tooth-bottom-lightred.png');
}

.bottom .ui-tooth.red.selected,.bottom .ui-tooth.red:hover {
	background-image:
		url('/dentalsurgery/resources/img/teeth/tooth-bottom-darkred.png');
}

.bottom .ui-tooth.green {
	background-image:
		url('/dentalsurgery/resources/img/teeth/tooth-bottom-lightgreen.png');
}

.bottom .ui-tooth.green.selected,.bottom .ui-tooth.green:hover {
	background-image:
		url('/dentalsurgery/resources/img/teeth/tooth-bottom-darkgreen.png');
}

.bottom .ui-tooth.blue {
	background-image:
		url('/dentalsurgery/resources/img/teeth/tooth-bottom-lightblue.png');
}

.bottom .ui-tooth.blue.selected,.bottom .ui-tooth.blue:hover {
	background-image:
		url('/dentalsurgery/resources/img/teeth/tooth-bottom-darkblue.png');
}

/* ząb górny */
.top .ui-tooth {
	margin-left: 1px; /* lekkie rozsunięcie zębów */
	width: 20px;
	height: 50px;
	float: left;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: top;
}

/* pozycjonowanie numeru w zębie górnym*/
.top .ui-tooth .number {
	position: relative;
	top: 33px;
	left: 4px;
}

/* ząb dolny */
.bottom .ui-tooth {
	margin-left: 1px; /* lekkie rozsunięcie zębów */
	width: 20px;
	height: 50px;
	float: left;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: bottom;
}

/* pozycjonowanie numeru w zębie dolnym */
.bottom .ui-tooth .number {
	position: relative;
	top: 3px;
	left: 4px;
}

/* odsunięcie lewej od prawej części szczęki */
.permanent * .ui-tooth:nth-child(9),.deciduous * .ui-tooth:nth-child(6)
	{
	margin-left: 10px;
}

/* ***************************** Wybór części zęba *********************************** */
.ui-tooth-part {
	cursor: pointer;
}

.ui-tooth-part.selected,.ui-tooth-part:hover {
	font-weight: bolder;
}

.ui-tooth-part.white {
	color: #80C2FF;
}

.ui-tooth-part.white.selected,.ui-tooth-part.white:hover {
	color: #80C2FF;
	background-color: #E4F6F6;
}

.ui-tooth-part.blue {
	color: #3737a6;
}

.ui-tooth-part.blue.selected,.ui-tooth-part.blue:hover {
	background-color: #3737a6;
	color: #afafe4;
}

.ui-tooth-part.red {
	color: #CB2828;
}

.ui-tooth-part.red.selected,.ui-tooth-part.red:hover {
	background-color: #CB2828;
	color: #e4afaf;
}

.ui-tooth-part.green {
	color: #37A637;
}

.ui-tooth-part.green.selected,.ui-tooth-part.green:hover {
	background-color: #37A637;
	color: #ABE2AB;
}

/* ********************* tabelka z wykonanymi czynnościami **** */


#list-activities table {
	
	width: 710px;
	text-align: left;
	border: solid;
	border-width: 1px;
	border-color: #80C2FF;
}

#list-activities table tr.visit-row-activity  {
	background-color: #F0F2FF;
}

#list-activities table tr.tooth-row-activity  {
	background-color: #ABE2AB;
}


#list-activities table thead th:nth-child(4),
#list-activities table tr td:nth-child(4) {
	text-align: left;
	
	width: 110px;
	
	
}
