@CHARSET "UTF-8";

#body-content {
	/*border: solid;*/
	border-width: 1px;
	border-color: #80C2FF;
}

#ui-teeth-map {
	float: left;
	
	width: 350px;
	height: 310px;
	/*border: solid;*/
	border-width: 1px;
	border-color: #80C2FF;
}

#ui-teeth-map-permanent {
	width: 355px;
	height: 105px;
}

#ui-teeth-map-deciduous {
	margin-left: 63px;
	width: 225px;
	height: 105px;
}

#selected-tooth-div {
	float: left;
	margin-left: 30px;
	width: 350px;
	height: 310px;
	/*border: solid;*/
	border-width: 1px;
	border-color: #80C2FF;
	clear: right;
}

#selected-part-list {
	width: 320px;
	height: 160px;
	/*border: solid;*/
	border-width: 1px;
	border-color: #80C2FF;
	margin-left: 0px;
	padding-left: 0px;
	list-style-type: none;
}

#selected-part-list li {
	padding-left: 90px;
}

#modify-form-div {
	float: left;
	
	/*border: solid;*/
	border-width: 1px;
	border-color: #80C2FF;
	width: 350px;
}

#add-activities-form {
	float: left;
	margin-left: 30px;
	/*border: solid;*/
	border-width: 1px;
	border-color: #80C2FF;
	width: 350px;
	clear: right;
}

#list-activities {
	float: left;
	
	/*border: solid;*/	
	border-width: 1px;
	border-color: #80C2FF;
	width: 732px;
}

#send-visit-form {
	float: left;
	
	/*border: solid;*/
	border-width: 1px;
	border-color: #80C2FF;
	width: 732px;
	height: 110px;
}

#send-visit-form h3, #visit-date-input {
	 
	margin-left: 200px;
} 

#visit-comments-textarea {
	width: 340px;
	height: 106px;
}




/* ***************************** Wybór części zęba *********************************** */
.ui-tooth-part {
	cursor: pointer;
}

.ui-tooth-part.selected,.ui-tooth-part:hover {
	font-weight: bolder;
}

.ui-tooth-part.white {
	color: #80C2FF;
}

.ui-tooth-part.white.selected,.ui-tooth-part.white:hover {
	color: #80C2FF;
	background-color: #E4F6F6;
}

.ui-tooth-part.blue {
	color: #3737a6;
}

.ui-tooth-part.blue.selected,.ui-tooth-part.blue:hover {
	background-color: #3737a6;
	color: #afafe4;
}

.ui-tooth-part.red {
	color: #CB2828;
}

.ui-tooth-part.red.selected,.ui-tooth-part.red:hover {
	background-color: #CB2828;
	color: #e4afaf;
}

.ui-tooth-part.green {
	color: #37A637;
}

.ui-tooth-part.green.selected,.ui-tooth-part.green:hover {
	background-color: #37A637;
	color: #ABE2AB;
}

/* ********************* tabelka z wykonanymi czynnościami **** */


#list-activities table {
	
	width: 710px;
	text-align: left;
	border: solid;
	border-width: 1px;
	border-color: #80C2FF;
}

#list-activities table tr.visit-row-activity  {
	background-color: #F0F2FF;
}

#list-activities table tr.tooth-row-activity  {
	background-color: #ABE2AB;
}


#list-activities table thead th:nth-child(4),
#list-activities table tr td:nth-child(4) {
	text-align: left;
	
	width: 110px;
	
	
}
